<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <!-- Servlet Definition -->
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet-NAME</servlet-name>
        <servlet-class>servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodItemServlet-NAME</servlet-name>
        <servlet-class>servlets.UpdateFoodItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscriptionServlet-NAME</servlet-name>
        <servlet-class>servlets.SubscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimFoodServlet-NAME</servlet-name>
        <servlet-class>servlets.ClaimFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodItemServlet-NAME</servlet-name>
        <url-pattern>/UpdateFoodItemServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet-NAME</servlet-name>
        <url-pattern>/ForgotPasswordServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscriptionServlet-NAME</servlet-name>
        <url-pattern>/SubscriptionServlet-URL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimFoodServlet-NAME</servlet-name>
        <url-pattern>/ClaimFoodServlet-URL</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
